{% extends "base.html" %}
{% load humanize %}

{% block title %}
  {{ meetup.meetup_name|truncatewords:5  }}
{% endblock %}

{% block content %}
  <br>
  <div class="row">
    <div class="col-md-2"><b>{{ meetup.meetup_time }}</b></div>
    <div class="col-md-6"><h1>{{ meetup.meetup_name }}</h1>
      (<a href="{% url "core:edit_meetup" meetup.id %}">edit</a>)
      <!--TODO: add markdown-->
      <img src="{{ meetup.meetup_image.url }}" class="img-responsive img-rounded"/>
      <h3>{{ meetup.description|linebreaks }}</h3>
    </div>
    <div class="col-md-4"><h3>Are you going?</h3>
      <a href=#><span class="glyphicon glyphicon-ok"></a>                     <a href=#><span class="glyphicon glyphicon-remove"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <!--TODO: add the attendees and not_sure count and people here -->
    </div>
    <div class="col-md-4"></div>
  </div>
{% endblock %}
